body{
    margin: 50px;
    background-color: black;   
}
.intro {
    background-size: cover;
    background-image: url(../images/pizzaz.jpg);
    height: 450px;
    background-repeat: no-repeat;
}
h1 {
    color: black;
    text-align: center;
    font-family: 'Trade Winds', ;
}
h2 {
    text-align: center;
}
.float p {
    padding: 10px;
    margin: 2px;
    color: black;
    font-style: italic;
    float: right;

}
h2 {
    color: orange;
    padding: 8px;
    margin: 1px;   
}
p {
    color: orange;
}
h3 {
    padding: 15px;
    margin: 5px;
    color: black;
    font-style: italic; 
    background-color: orange;
}