body{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: black;  
    color: orange; 
    font-family: 'Indie Flower', cursive;
}
.intro {
    background-size: cover;
    background-image: url(../images/newpiz.jpg);
    height: 545px;
    background-repeat: no-repeat;
}
h1 {
    color: black;
    text-align: center;
    font-family: 'Trade Winds';
    font-size: 70px;
}
h2 {
    text-align: center;
}
.float p {
    padding: 10px;
    margin: 2px;
    color: black;
    font-style: italic;

}
h2 {
    color: orange;
    padding: 8px;
    margin: 1px;   
}
p {
    color: orange;
    margin: 0%;
    padding: 0%;
}
h3 {
    padding: 10px;
    margin: 5px;
    color: black;
    font-style: italic; 
    background-color: orange;
}
.text1, .text2, .text3, .text4, .text5 ,.text6, .text7, .text8, .text9, .text10, .text11, .text12, .text13, .text14{
    display: none;
    opacity: 1;
    position: absolute;
    height: 15px;
    width: 0px;
    padding-top: 100px;
    color: black;
    background-color: white;
}
#welcome {
    float: left;;
}
.hover{
    margin-top: 20px;
}
li{
    color: orange;
}
h5{
    color: orange;
}
h4{
    color: orange;
}
label{
    color: orange;
}
.welcome p{
    color: orange;
    text-align: center;
    
}
#menu{
    background-image: url(../images/board2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.submit{
    box-align: center;
}
#welcome p{
    color: black;
    font-family: 'Trade Winds', ;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: orange;
    color: white;
}
#contact{
      text-align: center;
}
#motto{
    font-size: 20px;
}
.recipt{
    display: none;
}
.image9, .image{
    padding-right: 100px;
}