body{
    margin: 50px;
    background-color: black;  
    color: orange; 
}
.intro {
    background-size: cover;
    background-image: url(../images/pizzaz.jpg);
    height: 545px;
    background-repeat: no-repeat;
}
h1 {
    color: black;
    text-align: center;
    font-family: 'Trade Winds', ;
}
h2 {
    text-align: center;
}
.float p {
    padding: 10px;
    margin: 2px;
    color: black;
    font-style: italic;
    float: right;
    background-color: cornsilk;

}
h2 {
    color: orange;
    padding: 8px;
    margin: 1px;   
}
p {
    color: orange;
    margin: 0%;
    padding: 0%;
}
h3 {
    padding: 10px;
    margin: 5px;
    color: black;
    font-style: italic; 
    background-color: orange;
}
.text1, .text2, .text3, .text4, .text5 ,.text6, .text7, .text8, .text9, .text10, .text11, .text12, .text13, .text14{
    display: none;
    opacity: 1;
    position: absolute;
    height: 15px;
    width: 0px;
    padding-top: 100px;
    color: black;
    background-color: white;
}
#welcome {
    float: left;;
}
.hover{
    margin-top: 10px;
}
li{
    color: orange;
}
h5{
    color: orange;
}
h4{
    color: orange;
}
label{
    color: orange;
}